<div role="main" class="col-md-12  mt-4">
  <div class="d-flex justify-content-between">
    <div class="row col-md-12">
      <div class="col-md-6 mt-4">
        <div class="card">
          <h5 class="card-header">Opportunities By Status</h5>
          <div class="card-body">
            <h3>{{NumberOfOpportunities}}</h3>
            <h5 class="card-title">Total number of Opportunities</h5>
            <div id="Oppchartdiv" style="width: 100%; height: 350px"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="card">
          <h5 class="card-header">Opportunities By Source</h5>
          <div class="card-body">
            <h3>{{NumberOfOpportunities}}</h3>
            <h5 class="card-title">Total number of Opportunities</h5>
            <div id="OppSourcechartdiv" style="width: 100%; height: 350px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="row col-md-12 mt-4">
      <div class="col-md-12 mt-4">
        <div class="card">
          <h5 class="card-header">Opportunities By Month</h5>
          <div class="card-body">
            <h3>{{NumberOfOpportunities}}</h3>
            <h5 class="card-title">Total number of Opportunities</h5>
            <div id="OppchartStatusByMonthdiv" style="width: 100%; height: 350px"></div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 mt-4">   
        <div class="card">
          <h5 class="card-header">Top Reps By Leads</h5>
          <h3></h3>
          <div class="card-body">
            <h5 class="card-title">Need To update after Complets User Module</h5>
            <div id="Leadchartdiv" style="width: 100%; height: 400px"></div> 
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
