<div role="main" class="col-md-12 ml-sm-auto col-lg-10 px-md-4">
  <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"> -->

  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
      aria-selected="true">Leads Dashboard</a>
    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
      aria-controls="nav-profile" aria-selected="false">Opportunity Dashboard</a>
    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
      aria-controls="nav-contact" aria-selected="false">Project Dashboard</a>
    <a class="nav-link" id="nav-dashboard-tab" data-toggle="tab" href="#nav-dashboard" role="tab"
      aria-controls="nav-contact" aria-selected="false">All Dashboard</a>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <app-leadSbDashboard></app-leadSbDashboard>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <app-opportunityDashboard></app-opportunityDashboard>>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <app-projectDashboard></app-projectDashboard>>

    </div>
    <div class="tab-pane fade" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-dashboard-tab">
      <app-alldashboard></app-alldashboard>
    </div>
  </div>



  <!-- </div> -->
</div>
      