<body class="container">
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
  <div class="form-signin align-self-center "></div>
</body>
